
header {
    background-color: #1F2937;
    height: 250px;
    

}

body {
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 10px;
    font-size: 24px;
    color: #F9FAF8;
}

.placeholder {
    background-color: grey;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.top {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 8px;

}
.link {
    padding: 8px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 100px;
    margin-right: 100px;
}

.header-sign {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 16px;
   
}